
/******* THEME *******/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Kite+One&family=Nunito:wght@400;600&family=Varela+Round&display=swap');
:root{
	--primaryColor: #bf4646;
	--backgroundColor: white;
	--onBackgroundColor: black;
	--onBakcgroundVariantColor: rgb(100,100,100);
};

body{
	color:var(--onBakcgroundVariantColor);

	font-family: 'Varela Round', sans-serif;
	font-size: 12pt;
	/*font-family: 'Kite One', sans-serif;*/
	/*font-family: 'Sofia', sans-serif;*/
	/*font-family: 'Nunito', sans-serif;*/
	/*font-family: 'Happy Monkey', cursive;*/
	
	background-color: var(--backgroundColor);
	color: var(--primaryColor);
	color: var(--onBackgroundColor);
}

h1, h2, nav, a, .button{
	color: var(--primaryColor);
}

/******* RESET *******/
html, body, figure, ul, li, h1, h2{
	margin: 0;
	padding: 0;
}
ul{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}

p a{
	text-decoration: underline;
}

/******* LAYOUT *******/
body{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;

	height: calc(100vh - 23px); /* scrollbar height */
	padding-bottom: 16vh;
	padding-top: 4vh;
	box-sizing: border-box;
}

body>header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-end;

	max-width: 55vw;
}

header>nav{
	width: max-content;
	max-width: 19rem;
}

body>article{
	display: grid;
}

article>header{
	width: max-content;
	max-width: min(14rem, 30vw);

}

article>figure{
	margin-right: 10rem;
}

article>figure>img{
	max-height: 70vh;
}

#back{
	display: block;
	position: fixed;

	font-family: monospace;
	font-size: 30px;
	font-weight: 100;

	margin-left: 2rem;
	margin-bottom: -2rem;

	opacity: 0.0;
	transition: opacity 0.1s;

	pointer-events: none;
	cursor: pointer;
}

body>header.unseen #back{
	opacity: 1.0;
	transition: opacity 1s;
	pointer-events: auto;
}

input.toggle-display{
	display: none;
}

/*@media screen and (max-width: 600px) {
	body {
		flex-direction: column;
		align-items: flex-start;
		padding-left: 10vw;
		padding-right: 10vw;
	}

	body>header{
		flex-direction: column;
		align-items: flex-start;

	}

	header>nav{
		width: auto;
		max-width: auto;
	}

	body>article{
		flex-direction: column;
		align-items: flex-start;
	}

	article>figure{
		margin: 0;
		margin-bottom: 3rem;
		max-height: 90vh;
	}

	article>figure>img{
		width: 100%;
		height: auto;
	}
}*/
