
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Kite+One&family=Nunito:wght@400;600&family=Varela+Round&display=swap');

/******* RESET *******/
html, body, figure, ul, li, h1, h2{
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

a{
	color: inherit;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

p a{
	text-decoration: underline;
}

/******* THEME *******/
:root{
	--primaryColor: rgb(163, 103, 140);
	--backgroundColor: white;
	--onBackgroundColor: rgb(100,100,100);
	--onBakcgroundVariantColor: rgb(100,100,100);
}

body{
	color:var(--onBakcgroundVariantColor);

	font-family: 'Varela Round', sans-serif;
	font-size: 12pt;
	/*font-family: 'Kite One', sans-serif;*/
	/*font-family: 'Sofia', sans-serif;*/
	/*font-family: 'Nunito', sans-serif;*/
	/*font-family: 'Happy Monkey', cursive;*/
	
	background-color: var(--backgroundColor);
	color: var(--primaryColor);
	color: var(--onBackgroundColor);
}

h1, h2, nav, a, .button{
	color: var(--primaryColor);
	margin-bottom: 3em;
	text-align: center;
	max-width: 14rem;
	margin: auto;
}

h2{
	font-size: 1rem;
}

/* LAYOUT */
.container>header{
	padding: 1rem;
	text-align: center;
}

.container nav{
	line-height: 1.5;
}

.container>article{
	padding: 1rem;
}

article img{
	max-width: 100%;
}

figure+figure{
	margin-top: 3rem;
}

ul+ul{
	margin-top: 1rem;
}

/* 
SCROLL TO TOP
COMPONENT
*/

#back{
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: flex;

	border: none;
	border-top: 2px solid var(--primaryColor);
	width: 1em;
	text-align: center;
	display: inline-block;

	cursor: pointer;
}

#back:hover{
	color: red;
}

#back::after{
	content: "↑";
}

/* show scroll to top */
header.unseen #back{
	transition: opacity 0.1s;
	opacity: 1.0;
}
/* hide scroll to top */
header:not(.unseen) #back{
	transition: opacity 0.6s;
	opacity: 0.0;
	pointer-events: none;
}

body{
	background-color: rgb(240,240,240);
	background: linear-gradient(33deg, rgb(250,250,244) 1px, rgb(253 253 253) 1px);
	background-size: 10px 10px;
}

article header+section>article{
	margin-top: 5rem;
	background: white;
}

article header+section>article h3{
	width: 13rem;
}

article header+section>article img{
    width: 100%;
    max-height: 75vh;
    object-fit: contain;
    object-position: left;
}



h1{
	margin: 1em auto;
}

header, article{
	
}

figcaption{
	font-size: 0.7rem;
	text-align: right;
	font-style: italic;
}

/* TEXT GRADIENT */
/*h1, h2{
	color: rgb(163, 103, 140);
}

p{
	color:  rgb(197, 218, 128);
}

.container, 
article, 
figure, 
.container>header,
section
{
	background: -webkit-linear-gradient(90deg, rgb(197, 218, 128), rgb(163, 103, 140));
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
}
@media screen and (min-width: 600px) {
	.container, 
	article, 
	figure, 
	.container>header,
	section
	{
		background: -webkit-linear-gradient(260deg, rgb(197, 218, 128), rgb(163, 103, 140));
	 	-webkit-background-clip: text;
	 	-webkit-text-fill-color: transparent;
	}
}*/

h1, h2{
	rgb(163, 103, 140)
}


@media screen and (min-width: 600px) {
	h1, h2, nav, a, .button{
		text-align: left;
		margin: 0;
		padding: 0;
	}

	h1, h2{
		/*margin: 1rem;*/
	}

	article.cv{
		display: block;
	}
	.cv section{
		display: block;
		max-height: 75vh;
	    column-width: 10rem;
	    font-size: 0.8rem;
	    /*margin-left: 3rem;*/
	}
	.cv section p{
		margin: 0;
	}

	.container{
		display: flex;
		padding-top: 7vh;
		height: 85vh;
	}
	.container>header{
		display: flex;
		align-items: flex-end;
		width: max-content;
	}

	.container>header>h1{
		margin-bottom: -0.5rem;
    	margin-right: 1rem;
	}

	.container>header>nav{
		width: max-content;
		max-width: 16em;
		line-height: 1;
	}

	header>nav{
		margin: 0 1rem;
	}

	.container>header>nav li+li{
		margin-top: 0.5em;
	}

	.container>article{
		display: flex;
		align-items: flex-end;
		/*padding: 0;*/
	}
	.container>article>header{
		margin-right: 1rem;
	}

	article .gallery{
		display: flex;
		height: 100%;
		margin-left: 3rem;
		/*padding: 0;*/
	}

	article header{
		width: max-content;
		max-width: 22em;
	}


	article section{
		/*margin-top: 1em;*/
	}

	figure+figure{
		margin: 0;
		margin-left: 15vw;
	}

	figure{
		flex-shrink: 0;
	}

	figure img{
		max-height: 75vh;
		max-width: 90vw;
	}

	.container>header>h1{

	}

	.container>header{
		max-width: 45vw;
	}
	article>header{
		max-width: 25vw;
	}
	article header+section{
		max-width: 25vw;
		display: flex;
	}

	article header+section>article{
		margin-right: 3rem;
	}

	p{
		margin: 0;
	}
	p+p{
		margin-top: 1em;
	}


	.container>article{
		flex-direction: column;
	    flex-wrap: wrap;
	    justify-content: flex-end;
	    align-items: flex-start;
	}


	#back{
		border: none;
		border-left: 2px solid var(--primaryColor);
		left: 10vw;
		bottom: 6vh;
	}
	#back::after{
		content: "<";

	}

	figure{
		display: flex;
    	flex-direction: column;
	}
}