---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href="{{ '/assets/style_responsive.css' | relative_url }}" rel="stylesheet">
  </head>
  <body class="{{page.title}}">
  	<div class="container">
		<header>
			<h1>
				<a href="{{ '/' | relative_url }}">Judit<br/>Fischer</a>
			</h1>
			
			<nav>
				{% include navigation.html %}
			</nav>
			<span class="button" id="back"></span>
		</header>
		
		<article class="{{page.title}}">
			<header>
				<h2 id="page_header">{{page.title}}</h2>
			</header>

			<section>
				{{content}}
			</section>

			<section class="gallery">
				{% for item in page.gallery %}
				<figure>
					<img src="{{item.image.url}}" title="{{item.image.title}}" alt="{{item.image.alt}}">
					<figcaption>{{item.caption}}</figcaption>
				</figure>
				{% endfor %}
			</section>
		</article>

		<footer>
		</footer>
	</div>

	<script>
		if (
			"IntersectionObserver" in window &&
			"IntersectionObserverEntry" in window &&
			"intersectionRatio" in window.IntersectionObserverEntry.prototype
			)
		{

			let header = document.querySelector(".container>header")
			console.assert(header)
			
			let observer = new IntersectionObserver(entries => {
				// console.log(entries[0].boundingClientRect);
				let entry = entries[0]
				if(entries[0].isIntersecting){
					entry.target.classList.remove("unseen");
				}else{
					entry.target.classList.add("unseen");
				}

			});

			observer.observe(header);

			header.querySelector("#back").addEventListener('click', ()=>{
				window.scrollTo({left: 0, top: 0, behavior: 'smooth'});
			})
		}
	</script>
	<script type="text/javascript" src="https://unpkg.com/chroma-js@2.0.3/chroma.min.js"></script>
	<script>
		const elements = document.querySelectorAll("a, p, h1, h2, h3, figcaption")

		function textGradient(){
			var colorB = chroma("rgb(163, 103, 140)")
			var colorA =  chroma("rgb(197, 218, 128)")
			if(window.innerWidth<600){
				let c = colorB
				colorB = colorA
				colorA = c
			}
			

			for(let elem of elements){
				const rect = elem.getBoundingClientRect();
				let color = chroma.mix(colorA, colorB, rect.y/window.innerHeight, "rgb");
				elem.style.color = color.css()
			}
		}
		textGradient()

		window.addEventListener("resize", textGradient)


	</script>
  </body>
</html>

